header {
  background: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media screen and (max-width: 670px) {
  header {
    min-height: 50vh;
  }
}

h3 {
  margin: 1.1rem 0 1.1rem 0;
}

.section {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

@media screen and (max-width: 600px) {
  .parallax-container {
    height: 25vh;
  }
}

nav i {
  height: 45px;
}

@media screen and (max-width: 405px) {
  nav .brand-logo {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 330px) {
  nav .brand-logo {
    font-size: 1.5rem;
  }
}

.carousel {
  height: 60vh;
}
