/* Global styles */
h2 {
  font-size: 2.9rem;
  margin: 1.1rem 0 1.1rem 0;
}

/* Styles for header */
header {
  background: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media screen and (max-width: 670px) {
  header {
    min-height: 50vh;
  }
}

@media screen and (max-width: 405px) {
  nav .brand-logo {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 330px) {
  nav .brand-logo {
    font-size: 1.5rem;
  }
}

nav i {
  height: 45px;
}

.sidenav .sidenav-social-link {
  padding: 0;
  text-align: center;
  border-radius: 50%;
  width: 48px;
}

.sidenav .sidenav-social-link .fab {
  margin: 0;
  float: none;
}

.sidenav-social-links-block {
  margin-top: 10px;
}

.sidenav .sidenav-social-link-item {
  padding: 0;
}

/* Styles for main */

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

@media screen and (max-width: 600px) {
  .parallax-container {
    height: 25vh;
  }

  .section {
    padding-top: 8vw;
    padding-bottom: 8vw;
  }
}

/* .row {
  margin-bottom: 15px;
} */

.row .col {
  padding: 0;
}

@media screen and (max-width: 992px) {
  .my-callig-column {
    margin-bottom: 3vh;
  }
}

@media screen and (min-width: 420px) and (max-width: 992px), (min-width: 1110px) {
  .tabs .tab a {
    font-size: 20px;
  }
}

.margin-topless {
  margin-top: 0;
}

.margin-bottomless {
  margin-bottom: 0;
}
