header {
  background: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media screen and (max-width: 670px) {
  header {
    min-height: 50vh;
  }
}

h3 {
  margin: 1.1rem 0 1.1rem 0;
}

.section {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

@media screen and (max-width: 600px) {
  .parallax-container {
    height: 25vh;
  }
}
